.main {
    display: flex;
    flex-direction: column;
}
.body {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.body h1 {
    align-self: center;
    font-weight: bold;
    font-size: 28px;
}
.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.table {
    margin-top: 20px;
}
.timePicker {
    margin-bottom: 10px;
    padding-left: 18px;
}