.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
}
.main button {
    width: 100%;
}
.field {
    width: 100%;
    margin-bottom: 15px;
}
.forgot {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input svg {
    margin-right: 5px;
}
.serverError {
    margin-bottom: 10px;
}
