.main {
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
.window {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}
.closeBut {
    align-self: flex-end;
    border: none;
    font-size: 16px;
}
.buttons {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons button {
    margin-left: 8px;
    margin-right: 8px;
}